body {
  background: papayawhip;
  width: 100%;
  height: 100%;
}
.a{border-style: ridge;
  border-color: aqua ;
  height: 150px ;
  width: 100%;}
.b{border-style: ridge;
    border-color: aqua ;
    height: 220px ;
    width: 175em;}
.c{border-style: ridge;
      border-color: aqua ;
      height: 100px ;
      width: 33%;}
.d{border-style: ridge;
        border-color: aqua ;
        height: 100px ;
        width: 33%;} 
.e{border-style: ridge;
          border-color: aqua ;
          height: 100px ;
          width: 30%;}
.f{border-style: ridge;
            border-color: aqua ;
            height: 150px ;
            width: 100%;} 

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }   
  @media (min-width:600px){
    .b{
      width: 85%;
    }
  }
  @media (min-width:600px){
    .f{
      align-self: flex-end;
     
      left: 1px;
      width: 10%;
      top: 1px
      ;
    

    order:;
    }
  }
  @media (min-width:600px)
  {.c{width: 25%;
    order:
  }}
   @media (min-width:600px){
    .e{
      order: ;
      width: 30%;
      
    }
   }
   @media (min-width:600px){
    .d{order: ;
    width: 30%;}
   }
  


